/* ================================= */
/* ============ BASE =============== */
/* ================================= */

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

button,
html {
  touch-action: manipulation;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
