/* ================================= */
/* ============ LAYOUT CORE ======== */
/* ================================= */

:root {
  --header-height: 60px;
  --header-padding-x: 40px;
}


/* ================================= */
/* ============== RESET ============ */
/* ================================= */

html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100vw;

  overflow-x: hidden;
}


/* ================================= */
/* ============== MAIN ============= */
/* ================================= */

.container {
  display: grid;

  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-areas:
    "round input stats";

  gap: 5px;

  height: calc(
    100dvh - var(--header-height) - env(safe-area-inset-top) - 20px
  );

  margin-top: env(safe-area-inset-top);

  padding: 5px 25px 10px 20px;
}


/* ================================= */
/* ============== AREAS ============ */
/* ================================= */

.round-area { grid-area: round; }
.input-area { grid-area: input; }
.stats-area { grid-area: stats; }


/* ================================= */
/* ============== PANELS =========== */
/* ================================= */

.round-area,
.input-area,
.stats-area {

  display: flex;
  flex-direction: column;

  min-height: 0;
  min-width: 0;

  overflow: hidden;

  padding: 8px 20px 20px 20px;

  background: var(--bg-panel);
  border: 1px solid var(--border-main);
  border-radius: 18px;
}


/* ================================= */
/* ============== AREA MODIFIERS === */
/* ================================= */

.input-area {
  transition: width .35s ease, opacity .25s ease;
}

.stats-area {
  overflow-y: auto;
}

body.hide-round-area .round-area {
  display: none;
}

body.hide-stats-area .stats-area {
  display: none;
}

body.hide-round-area .container {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "input stats";
}

body.hide-stats-area .container {
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "round input";
}

body.hide-round-area.hide-stats-area .container {
  grid-template-columns: 1fr;
  grid-template-areas: "input";
}

body.phone.portrait.hide-round-area .container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.6fr;
  grid-template-areas:
    "input"
    "stats";
}

body.phone.portrait.hide-stats-area .container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr;
  grid-template-areas:
    "round"
    "input";
}

body.phone.portrait.hide-round-area.hide-stats-area .container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "input";
}

body.phone.landscape.hide-round-area .container {
  grid-template-columns: 45% 55%;
  grid-template-areas: "input stats";
}

body.phone.landscape.hide-stats-area .container {
  grid-template-columns: 45% 55%;
  grid-template-areas: "round input";
}

body.phone.landscape.hide-round-area.hide-stats-area .container {
  grid-template-columns: 1fr;
  grid-template-areas: "input";
}